<ion-card>
  <ion-card-header color="secondary light">
    <ion-card-title>Me</ion-card-title>

  </ion-card-header>

  <ion-card-content>
    <div class="ion-padding">
    CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD
    CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD
    CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD   CARD  CARD  CARD

    <ion-button href="about">CLICK ME</ion-button>
  </div>
  </ion-card-content>
</ion-card>